body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
   }
   
   header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #352E4B;
    color: #fff;
   }
   
   .hive-logo img {
    height: 40px;
   }
   
   nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
   }
   
   nav ul li a {
    display: block;
    padding: 0 10px;
    text-decoration: none;
    color: #fff;
   }
   
   nav ul li a :hover {
    color: #00998b;
   }
   
   .try-hive a {
    display: inline-block;
    padding: 5px 15px;
    background-color: #00b8a9;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
   }
   
   .try-hive a :hover {
    background-color: #00998b;
   }

   .badge {
    position: relative;
    top: -20px;
    left: -25px;
    border-radius: 50%;
    background-color: red;
}

button{
    border: none;
    display: inline-block;
    padding: 5px 15px;
    background-color: #00b8a9;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

button:hover {
    background-color: #00998b;
   }